<div class="container  mt-3">
  <nav class="d-flex justify-content-around align-items-center border-bottom">
    <h1>Watch List</h1>
    <%= link_to "Create a New List", new_list_path, class: "btn btn-primary" %>
  </nav>
  <main class="d-flex justify-content-around">
    <ul class="list-group list-group-flush mt-3">
      <% @lists.each do |list| %>
        <li class="list-group-item d-flex justify-content-between p-3 gap-4 align-items-center">
          <%= link_to list.name, list_path(list) %>
          <span class="badge text-bg-primary rounded-pill"> <%= list.bookmarks.length %> </span>

          <% if list.photo.attached? %>
            <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill  %>
          <% else %>
            <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
          <% end %>

        </li>
      <% end %>
    </ul>
  </main>
</div>
