<div class="container  mt-3">
  <nav class="d-flex justify-content-around align-items-center border-bottom">
    <h1><%= @list.name %></h1>
    <div>
      <%= link_to "Add Movie to List", new_list_bookmark_path(@list), class: "btn btn-primary" %>
      <%= link_to "Back to Lists", lists_path, class: "btn btn-danger" %>
    </div>
  </nav>
  <main class="d-flex justify-content-around">
    <ul class="list-group list-group-flush mt-3">
      <% @list.bookmarks.each do |bookmark| %>
        <li class="list-group-item d-flex justify-content-between p-3 gap-4 align-items-center">
          <%= bookmark.movie.title %>
          <%= link_to bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i style="color: #3c3c3c;" class="fa-solid fa-trash-can"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </main>
</div>
